#kq{
    position: absolute;
        top: 230px;
    left: 54%;
}

#nhaplai{
    
        position: absolute;
        top: 230px;
    left: 45%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 2e97254c6f78f8b9c826cfbe383ef1b656812031
